<div class="eca-actions">
    <button mat-flat-button type="button" color="primary" [routerLink]="['/']"><mat-icon>arrow_back</mat-icon>Back</button>
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
  </div>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<br/>
<p>
  To configure this application, you need a URL for your Primo or Primo VE instance.  Copy one of the following URLs, depending on which version of
  Primo you are using, and paste into the line below. 
<br/><br/>
  <b>Non-PrimoVE users</b>:<br>  
  https://[institution].exlibrisgroup.com/primo-explore/search?tab=[TAB]&search_scope=[SCOPE]&vid=[VIEW]<br>
  <br>
  <b>Primo VE users</b>:<br>
  https://[institution].exlibrisgroup.com/discovery/search?tab=[TAB]&search_scope=[SCOPE]&vid=[VIEW]
  <br/><br/>
  Replace the parts in the [ ], including the brackets themselves, with the approprate values from your Primo instance:
  <br><br>
  [institution] = The part of your Primo instance url unique to your institution between the https:// and the 'exlibrisgroup'.
  <br><br>
  [TAB] = The tab you are using for your search.  If you don't have a specific tab, use 'default_tab'.
  <br><br>
  [SCOPE] = This is your consortial search scope.
  <br><br>
  [VIEW] = The View ID of your institution.
</p>
<br/>
<form [formGroup]="form">
  <section class="config-section">
    <mat-form-field>
      <textarea matInput placeholder="Institution URL" formControlName="serviceUrl" rows="3"></textarea>
    </mat-form-field>  
  </section>
</form>
